/*
header
    square
        44x44 480 - 55x55
        bg-or
        bg-low
        img 24x24 480 - 30x30
    footer
        40x40 1000 - 55x55
        bg-grey
        img 22x22 1000 - 30x30
    home
        w 100%
        h 45 480 - 55
            768 w 300
        bg-or
        bg-trans
        fw 600
        fz 14 480 - 16 768 - 17
        outline
            border 2 solid white
    popup
        w 100%
        h 45 480 - 55
        fz 14 480 - 16 768 - 17
        fw 600
        bg-or

        bottom
            fz 11 480 - 14
            fw 600
            h 45 480 - 55
            w 100 480 - 150
            bg-grey
        pair
            w 100 480 - 150
            h 45 // 768 - 55 !!
            fz 14 480 - 16 768 - 17
            fw 600
            bg-or
        settings
            h 45 480 - 50
            w 100% 768 - 130
            bg-or
            fz 14 480 - 17
            fw 500
        chart
            p 10 15 1000 - 10 20
            h 37 480 - 44 1000 - 50
            w content
            bg-or
            bg-grey
            fw 600
            fz 11 480 - 16 1000 - 20
    table
        to 767
            select text + img + arrow
                w 100%
                h 55
                arrow 12x12 -> 20
                fz 16
                fw 600
                img 30x30
                bg-grey
        from 768
            btn arrow
                h 50
                w content
                p 10 15px
                arrow 12
                fz 16 1000 - 20
                fw 500
                bg-grey
                bg-or
        btn pic + text -> square pic
            w 120 (100%) 480 180 (100%) 768 - 300
            h 45 480 55
            fw 500
            fz 14 480 - 16 1000 - 17
            img 30x30
            bg-or
                1300 55x55
                text none
        btn img + arrow
            w+h like right
            bg-trans
            border 2px solid white
            arrow 8x10 -> 12 gap!!! 10px 480 - 12
            img width + height adaptive
        to 767
            select text + img
                h 55
                w 150 (100%) w 210 (100%)
                bg-low
                fz 14 480 16
                fw 600
                img 30
        from 768
            btn arrow
                w content
                h 44 1000 - 50
                fw 500
                fz 16 1000 - 20
                p 10 17
                arrow 12
                bg-grey
                bg-or

        btn
            h 55
            w 150 (100%) 480 - 210 (100%) 768 - 170 1000 - 250 1300 - 300
            bg-or
            fz 14 480 16 1000 - 17
            fw 600
        btn-pic
            w 145 (100%) 480 - 90 768 55 text none
            h 55
                1000 56x56
            bg-or
            bg-grey
                1000 - pic none text
                h 56 1300 55
                w 174 1300 150
                fz 17
            img 30x30

 */