.text
    // popup
        //caption
    font-size 24px // 480 - 32, 1000 - 40
    font-weight 600
        //caption pair
    font-size 25px
    font-weight 600
        //caption settings
    font-size 20px // 480 - 25
    font-weight 600
        //label
    font-size 14px // 480 - 16, 768 - 17
    font-weight 600
        //input
    font-size 11px // 480 - 16, 768 - 17
        //input-result
    font-size 11px // 480 - 17
        // input pair
    font-size 14px // 480 - 16
        // input settings
    font-size 11px // 480 - 14, 768 - 20
        // =
    font-size 25px
    font-weight 600
        // btn (form) + btn pair
    font-size 14px // 480 - 16, 768 - 17
    font-weight 600
        // text
    font-size 11px // 480 - 14
        // text pair, settings pair
    font-size 14px // 480 - 16, 768 - 25
    font-weight 600
        // chat pair
    font-size 16px // 768 - 25
    font-weight 600
        // btn bottom
    font-size 11px // 480 - 14
    font-weight 600
        // table caption settings
    font-size 14px // 480 - 16, 768 - 20
    font-weight 500
        // btn settings
    font-size 14px // 480 - 17
    font-weight 500
        // chart dates
    font-size 11px // 480 - 16, 1000 - 20
    font-weight 600
        // chart footer
    font-size 11px // 480 - 14
    // homepage
        // lang
    font-size 16px // 768 - 20
    @media (min-width 480px)
        // header text
        font-size 17px
        // caption
    font-size 18px // 480 - 24, 768 - 32, 1300 - 40
    font-weight 600
        // text
    font-size 14px // 480 - 16, 1300 - 20
        // card-text
    font-size 11px // 480 - 14, 768 - 16, 1300 - 17
        // btn
    font-size 14px // 480 - 16, 768 - 17
    font-weight 600
        // text-footer
    font-size 11px // 480 - 16, 1300 - 25
    // tables
        //caption alerts
    font-size 40px
    font-weight 600

    @media (max-width 768px)
        // select text
        font-size 16px
        font-weight 600
        // select by time
        font-size 14px // 480 - 16
        font-weight 600
    @media (min-width 768px)
        // table header text
        font-size 16px // 1000 - 20
        font-weight 500
        // table header text non cell
        font-size 16px // 1000 - 20
        font-weight 400
        // table header btn + remove (1000+)
        font-size 16px // 1000 - 17
        font-weight 600
        // pairs
    font-size 16px // 1000 - 25
    font-weight 600
    @media (max-width 768px)
        // label
        font-size 14px
        // table text
    font-size 16px // 1000 - 20
    font-weight 600
        // btn alerts
    font-size 14px // 480 - 16, 1000 - 17
    font-weight 500
    //docs
    @media (min-width 480px)
        // header text + footer
        font-size 16px // 1000 - 17
        // header lang
        font-size 20px //??????
        //text warnings
    font-size 14px // 480 - 16, 768 - 20, 1000 - 25
    font-weight 600
        // caption important, text bolder, exchange
    font-size 16px // 480 - 20, 768 - 25
    font-weight 600
        // text
    font-size 14 // 480 - 16, 1000 - 20
        // text import + orange text
    font-size 14px // 480 - 20, 768 - 25
    font-weight 600
        // caption table
    font-size 20px // 480 - 32, 1000 - 40
    font-weight 600