.main-header
    display grid
    grid-template-columns repeat(2, auto)
    gap 20px
    padding-top 46px
    padding-bottom 50px
    align-items center
    @media (min-width 480px)
        grid-template-columns 1fr repeat(2, auto)
        padding-top 60px
        padding-bottom 45px
    @media (min-width 768px)
        grid-template-columns 1fr repeat(4, auto)
        padding-top 40px
        padding-bottom 90px
    @media (min-width 1000px)
        padding-top 60px
        padding-bottom 70px
        gap 30px
    @media (min-width 1341px)
        gap 50px
    .googleplay
        display none
        img
            height 100%
        @media (min-width 480px)
            display flex
            grid-row-start 1
            grid-column-end 4
        @media (min-width 768px)
            display flex
            grid-row-start initial
            grid-column-end initial
    .exit
        justify-self flex-end
        @media (min-width 480px)
            grid-column-end 4
        @media (min-width 768px)
            grid-column-end initial
.main-header__logo
    display flex
    height 24px
    @media (min-width 768px)
        height 32px
    @media (min-width 100px)
        height 50px
.main-header__lang
    justify-self end
    text-transform uppercase
    flex(flex-start, center)
    gap 6px
.main-header__menu
    display grid
    grid-template-columns repeat(2, auto)
    gap 10px
    width 100%
    justify-content flex-start
    @media (min-width 480px)
        gap 30px
        grid-column-end span 2
    @media (min-width 768px)
        gap 20px
        grid-column-end span 1
    @media (min-width 1000px)
        gap 30px
    @media (min-width 1341px)
        gap 50px
.main-header__link
    display grid
    gap 10px
    align-items center
    :last-child:not(:first-child)
        display none
        @media(min-width 480px)
            display initial
        @media(min-width 768px)
            display none
        @media(min-width 1000px)
            display initial
    &.exit
        @media (min-width 480px)
            grid-template-columns 1fr
        @media(min-width 1000px)
            gap 15px
            grid-template-columns repeat(2, auto)
    &.exit :last-child
        display none
        @media(min-width 1000px)
            display initial
    @media (min-width 480px)
            gap 15px
            grid-template-columns repeat(2, auto)
    @media(min-width 768px)
        grid-template-columns 1fr
    @media(min-width 1000px)
        grid-template-columns repeat(2, auto)

.home-page>.main-header // Главная страница
    @media (max-width 479px)
        grid-template-columns repeat(3, auto)
        .main-header__logo
            grid-column-end span 2
        .googleplay
            grid-column-end span 2
    [data-view]
        display none
    .googleplay
        display flex
        background-color #000
        grid-row-start initial
        width max-content
        justify-self flex-end
        align-items flex-end
        @media (min-width 480px)
            grid-column-end initial
    .main-header__menu
        grid-template-columns auto
        justify-content flex-start
        grid-row-start initial
        grid-column-end initial
    @media (min-width 480px)
        grid-template-columns 1fr repeat(3, auto)
        .main-header__link
            grid-template-columns auto
            :last-child:not(:first-child)
                display none
    @media (min-width 768px)
        grid-template-columns 1fr repeat(3, auto)
        .main-header__link
            grid-template-columns repeat(2, auto)
            :last-child:not(:first-child)
                display initial
