.main-header {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 20px;
  align-items: center;
}
@media (min-width: 480px) {
  .main-header {
    grid-template-columns: 1fr auto auto;
  }
}
@media (min-width: 768px) {
  .main-header {
    gap: 30px;
  }
}
.main-header__logo {
  display: flex;
  height: 24px;
}
@media (min-width: 768px) {
  .main-header__logo {
    height: 32px;
  }
}
@media (min-width: 100px) {
  .main-header__logo {
    height: 50px;
  }
}
.main-header__lang {
  justify-self: flex-end;
  text-transform: uppercase;
  font-size: 16px;
  gap: 6px;
}
@media (min-width: 768px) {
  .main-header__lang {
    font-size: 20px;
  }
}
.lang__arrow {
  background-image: url("img/icons/arrow.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 16px;
  width: 12px;
}
.main-header__menu {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  grid-column-end: span 2;
  width: 100%;
  justify-content: space-between;
}
@media (min-width: 480px) {
  .main-header__menu {
    grid-column-end: span 1;
  }
}
@media (min-width: 768px) {
  .main-header__menu {
    gap: 30px;
  }
}
.menu__link {
  height: 44px;
}
.menu__link img {
  height: 100%;
}
@media (min-width: 768px) {
  .menu__link {
    height: 55px;
  }
}
.telegram {
  font-size: 16px;
  gap: 10px;
}
@media (min-width: 480px) and (max-width: 767px) {
  .telegram .telegram__text {
    display: none;
  }
}
@media (min-width: 768px) {
  .telegram {
    font-size: 17px;
    gap: 15px;
  }
}
.telegram .btn {
  background-image: url("img/icons/telegram.svg");
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center;
}
