flex(jc=space-between,ai=center,fd=row)
    display flex
    justify-content jc
    align-items ai
    flex-direction fd
flex-w(jc=space-between,ac=center,ai=center,fd=row)
    flex(jc,ai,fd)
    flex-wrap wrap
    align-content ac
square(n)
    width n
    height n
