.popup
    position fixed
    max-height calc(100vh - 40px)
    max-width calc(100vw - 40px)
    &.popup-chart
        @media(min-width 1341px)
            width 1300px
            max-width 1300px
    &.popup-settings
        @media(min-width 1341px)
            width 640px
            max-width 640px