.popup {
  position: fixed;
  max-height: calc(100vh - 40px);
  max-width: calc(100vw - 40px);
}
@media (min-width: 1341px) {
  .popup.popup-chart {
    width: 1300px;
    max-width: 1300px;
  }
}
@media (min-width: 1341px) {
  .popup.popup-settings {
    width: 640px;
    max-width: 640px;
  }
}
