.popup {
  position: fixed;
  max-height: calc(100vh - 40px);
  max-width: calc(100vw - 40px);
  padding: 10px;
  z-index: 100;
  background-color: c-grey-low;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .popup.popup-auth {
    width: 600px;
    max-width: 600px;
  }
}
@media (min-width: 1341px) {
  .popup.popup-chart {
    width: 1300px;
    max-width: 1300px;
  }
}
@media (min-width: 768px) {
  .popup.popup-settings,
  .popup.popup-pairs {
    width: 640px;
    max-width: 640px;
  }
}
.popup-close {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  background: url("img/icons/close.svg") no-repeat center/contain;
}
