h1
    margin 0
h2
    margin 0
h3
    margin 0
h4
    margin 0
p
    margin 0
.text-medium
    font-weight 500
.text-bold
    font-weight 600
.text-center
    text-align center
.text-orange
    color c-orange
.text-green
    color c-green
.text-red
    color c-red
.text-white
    color c-white
.text-10
    font-size 10px
.text-11
    font-size 11px
.text-14
    font-size 14px
.text-16
    font-size 16px
.text-17
    font-size 17px
.text-18
    font-size 18px
.text-20
    font-size 20px
.text-24
    font-size 24px
.text-25
    font-size 25px
.text-40
    font-size 40px
.text-xs-11
    @media (min-width 386px)
        font-size 11px
.text-sm-14
    @media(min-width 480px)
        font-size 14px
.text-sm-16
    @media(min-width 480px)
        font-size 16px
.text-sm-17
    @media(min-width 480px)
        font-size 17px
.text-sm-20
    @media(min-width 480px)
        font-size 20px
.text-sm-24
    @media(min-width 480px)
        font-size 24px
.text-sm-25
    @media(min-width 480px)
        font-size 25px
.text-sm-32
    @media(min-width 480px)
        font-size 32px
.text-md-16
    @media(min-width 768px)
        font-size 16px
.text-md-17
    @media(min-width 768px)
        font-size 16px
.text-md-20
    @media(min-width 768px)
        font-size 20px
.text-md-25
    @media(min-width 768px)
        font-size 25px
.text-md-32
    @media(min-width 768px)
        font-size 32px
.text-lg-17
    @media(min-width 1000px)
        font-size 17px
.text-lg-20
    @media(min-width 1000px)
        font-size 20px
.text-lg-25
    @media(min-width 1000px)
        font-size 25px
.text-lg-40
    @media(min-width 1000px)
        font-size 40px
.text-xl-17
    @media(min-width 1341px)
        font-size 17px
.text-xl-20
    @media(min-width 1341px)
        font-size 20px
.text-xl-25
    @media(min-width 1341px)
        font-size 25px
.text-xl-40
    @media(min-width 1341px)
        font-size 40px