-let path = "."
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
        link(rel="stylesheet" href=path+"/style.css")
        script(src=path+"/js/functions.js")
    body
        header.container.main-header
            include templates/header
        main.container
            include templates/alerts
        footer.container.main-footer
            include templates/footer
        .popup-wrapper
            include templates/popup-pair
            include templates/popup-chart
            include templates/settings
        script(src=path+"/js/popup.js")