-let path = "."
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        link(rel="stylesheet" href="style.css")
    body.home-page
        header.container.main-header
            a.main-header__logo
                img(src=path+"/img/icons/logo.svg" alt="CVS")
            div.main-header__lang.lang
                span.lang__text ru
                button.lang__arrow
            nav.main-header__menu.menu
                a.menu__link.telegram
                    span.btn.square
                    span.telegram__text Telegram
                a.menu__link
                    img(src=path+"/img/icons/googleplay.svg" alt="googleplay")