-let path = "."
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
        link(rel="stylesheet" href=path+"/style.css")
        script(src=path+"/js/functions.js")
    body.home-page
        header.container.main-header
            include templates/header
        main.container
            include templates/homepage
        footer.container.main-footer
            include templates/footer
        .popup-wrapper.active
            include templates/popup-login
        script(src=path+"/js/popup.js")

