@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --c-white: #fff;
  --c-orange: #fc9831;
  --c-grey-text: #a3a5b3;
  --c-grey-input: #575a67;
  --c-grey: #353745;
  --c-grey-low: #424552;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #353745;
  min-height: 100vh;
  margin: 0;
  color: #fff;
}
body.home-page {
  background-image: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body.hidden {
  overflow: hidden;
}
body.hidden::before {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 10;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  outline: none;
  cursor: pointer;
  border: none;
  background: transparent;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
  font-weight: 600;
}
p {
  margin: 0;
}
.home-page {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 1341px) {
  .container {
    padding-left: calc(50% - 650px);
    padding-right: calc(50% - 650px);
  }
}
.btn {
  height: 44px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #fc9831;
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.btn.outline {
  border: 2px solid #fff;
  background: transparent;
}
.btn.square {
  width: 44px;
  height: 44px;
}
@media (min-width: 768px) {
  .btn {
    height: 55px;
  }
  .btn.square {
    width: 55px;
    height: 55px;
  }
}
.text-orange {
  color: #fc9831;
}
.text-bold {
  font-weight: 600;
}
.text-1 {
  font-size: 18px;
}
@media (min-width: 480px) {
  .text-1 {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .text-1 {
    font-size: 32px;
  }
}
@media (min-width: 1341px) {
  .text-1 {
    font-size: 40px;
  }
}
.text-2 {
  font-size: 14px;
}
@media (min-width: 480px) {
  .text-2 {
    font-size: 16px;
  }
}
@media (min-width: 1341px) {
  .text-2 {
    font-size: 20px;
  }
}
.text-3 {
  font-size: 10px;
}
@media (min-width: 386px) {
  .text-3 {
    font-size: 11px;
  }
}
@media (min-width: 480px) {
  .text-3 {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .text-3 {
    font-size: 16px;
  }
}
@media (min-width: 1341px) {
  .text-3 {
    font-size: 17px;
  }
}
.text-4 {
  font-size: 11px;
}
@media (min-width: 480px) {
  .text-4 {
    font-size: 16px;
  }
}
@media (min-width: 1341px) {
  .text-4 {
    font-size: 25px;
  }
}
.p-1 {
  max-width: 320px;
}
@media (min-width: 480px) {
  .p-1 {
    max-width: 446px;
  }
}
@media (min-width: 1341px) {
  .p-1 {
    max-width: 536px;
  }
}
.main-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 20px;
  align-items: center;
}
@media (min-width: 480px) {
  .main-header {
    grid-template-columns: 1fr auto auto;
  }
}
@media (min-width: 768px) {
  .main-header {
    gap: 30px;
  }
}
@media (min-width: 1000px) {
  .main-header {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.main-header__logo {
  display: flex;
  height: 24px;
}
@media (min-width: 768px) {
  .main-header__logo {
    height: 32px;
  }
}
@media (min-width: 100px) {
  .main-header__logo {
    height: 50px;
  }
}
.main-header__lang {
  justify-self: flex-end;
  text-transform: uppercase;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 6px;
}
@media (min-width: 768px) {
  .main-header__lang {
    font-size: 20px;
  }
}
.lang__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-image: url("img/icons/arrow.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 16px;
  width: 12px;
}
.main-header__menu {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  grid-column-end: span 2;
  width: 100%;
  justify-content: space-between;
}
@media (min-width: 480px) {
  .main-header__menu {
    grid-column-end: span 1;
  }
}
@media (min-width: 768px) {
  .main-header__menu {
    gap: 30px;
  }
}
.menu__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 44px;
}
.menu__link img {
  height: 100%;
}
@media (min-width: 768px) {
  .menu__link {
    height: 55px;
  }
}
.telegram {
  font-size: 16px;
  gap: 10px;
}
@media (min-width: 480px) and (max-width: 767px) {
  .telegram .telegram__text {
    display: none;
  }
}
@media (min-width: 768px) {
  .telegram {
    font-size: 17px;
    gap: 15px;
  }
}
.telegram .btn {
  background-image: url("img/icons/telegram.svg");
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.home-page h1 {
  max-width: 320px;
}
@media (min-width: 480px) {
  .home-page h1 {
    max-width: 440px;
  }
}
@media (min-width: 768px) {
  .home-page h1 {
    max-width: 580px;
  }
}
@media (min-width: 1000px) {
  .home-page h1 {
    max-width: 100%;
  }
}
.infoblock {
  display: flex;
  justify-content: center;
  align-items: row;
  flex-direction: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px 0;
  width: 100%;
}
@media (min-width: 430px) {
  .infoblock {
    gap: 10px;
  }
}
@media (min-width: 480px) {
  .infoblock {
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  .infoblock {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
@media (min-width: 1000px) {
  .infoblock {
    margin-top: 30px;
  }
}
@media (min-width: 1341px) {
  .infoblock {
    margin-top: 35px;
  }
}
.infoblock__item {
  width: calc(100% / 3);
  max-width: 128px;
}
.infoblock__item img {
  height: 27px;
  line-height: 1;
  margin-bottom: 5px;
}
@media (min-width: 430px) {
  .infoblock__item {
    width: calc((100% - 20px) / 3);
    max-width: 190px;
  }
}
@media (min-width: 768px) {
  .infoblock__item {
    width: calc((100% - 40px) / 5);
    max-width: 190px;
  }
  .infoblock__item img {
    height: 39px;
    margin-bottom: 7px;
  }
}
@media (min-width: 1341px) {
  .infoblock__item img {
    height: 53px;
  }
}
.partners {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: row;
  flex-direction: center;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  gap: 20px 10px;
}
@media (min-width: 768px) {
  .partners {
    margin-top: 37px;
    margin-bottom: 37px;
    gap: 36px 20px;
  }
}
@media (min-width: 1000px) {
  .partners {
    width: 820px;
    margin-top: 44px;
    margin-bottom: 44px;
    gap: 30px 20px;
  }
}
@media (min-width: 1321px) {
  .partners {
    width: 1230px;
    margin-top: 55px;
    margin-bottom: 55px;
    gap: 28px 20px;
  }
}
.partners__item {
  width: calc(25% - 30px / 4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.partners__item img {
  width: 100%;
}
@media (min-width: 430px) {
  .partners__item {
    width: calc((100% - 50px) / 6);
  }
}
@media (min-width: 768px) {
  .partners__item {
    width: calc((100% - 100px) / 6);
  }
}
.auth-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}
@media (min-width: 768px) {
  .auth-menu {
    width: auto;
  }
  .auth-menu .btn {
    width: 300px;
  }
}
@media (min-width: 1000px) {
  .auth-menu {
    gap: 40px;
  }
}
.footer-text {
  text-align: center;
}
@media (min-width: 1000px) {
  .footer-text {
    padding-top: 96px;
    padding-bottom: 100px;
  }
}
