.footer-text.text-11.text-sm-16.text-xl-25.text-center CVS. Only one.

a.main-header__link.btn.btn_square-40.btn_square-lg-55.btn_line.googleplay(href="")
    img(src=path+"/img/icons/googleplay.svg" alt="googleplay")
a.main-header__logo(href="")
    img(src=path+"/img/icons/logo.svg" alt="CVS")
nav.main-header__menu
    a.main-header__link(href="" data-view="auth")
        span.btn.btn_img.btn_square-40.btn_square-lg-55.btn_dark.bg-docs
        span.text-16.text-lg-17 Docs
    a.main-header__link(href="")
        span.btn.btn_img.btn_square-40.btn_square-lg-55.btn_dark.bg-telegram
        span.text-16.text-lg-17 Telegram