a.main-header__logo(href=path+"/index.html")
    img(src=path+"/img/icons/logo.svg" alt="CVS")
a.main-header__lang.arrow.text-16.text-md-20 ru
nav.main-header__menu
    a.main-header__link(href=path+"/docs.html" data-view="auth")
        span.btn.btn_img.btn_square-44.btn_square-sm-55.bg-docs
        span.text-16.text-lg-17 Docs
    a.main-header__link(href="")
        span.btn.btn_img.btn_square-44.btn_square-sm-55.bg-telegram
        span.text-16.text-lg-17 Telegram
a.main-header__link.exit(href="" data-view="auth")
    span.btn.btn_light.btn_img.btn_square-44.btn_square-sm-55.bg-exit
    span.text-16.text-lg-17 Log Out
a.main-header__link.btn.btn_line.btn_h-45.btn_h-sm-55.googleplay(href="")
    img(src=path+"/img/icons/googleplay.svg" alt="googleplay")