.popup.popup-auth(data-type="change-pwd")
    h2.popup-caption.text-24.text-sm-32.text-lg-40.text-bold.text-center
        |Forgot&#32;
        span.text-orange Password
    form.popup-form
        .form-block
            label.text-14.text-sm-16.text-md-17.text-bold(for="email") Email Address
            input.inp.text-11.text-sm-16.text-md-17(type="email" name="email" id="email" placeholder="deniszak54321@gmail.com")
        .form-capcha
            a.upd(href="")
            .capcha
            span.text-25.text-orange.text-bold =
            input.inp.text-11.text-sm-17(type="text" name="capcha" placeholder="Result")
        button.btn.btn_h-45.btn_h-sm-55.btn_w-full(type="submit") Submit
    .popup-footer
        p.text-11.text-sm-14 Remembered your password?
        a.btn.btn_h-45.btn_h-sm-55.btn_w-100.btn_w-sm-150.btn_dark.text-11.text-sm-14(href="" data-action="signin") Sign in
    .popup-close