.popup.popup-chart(data-type="chart")
    .chart-header
        div.pairs(data-type="pairs")
            .text-16.text-md-25.text-bold 10SET / USDT
            img.pairs__img(src=path + "/img/custom/pic1.png" alt="10SET/USDT")
        .time
            button.btn.btn_w-content.btn_h-37.btn_h-sm-44.btn_h-lg-50.btn_dark.text-11.text-sm-16.text-lg-20 5m
            button.btn.btn_w-content.btn_h-37.btn_h-sm-44.btn_h-lg-50.btn_dark.text-11.text-sm-16.text-lg-20 15m
            button.btn.btn_w-content.btn_h-37.btn_h-sm-44.btn_h-lg-50.btn_dark.text-11.text-sm-16.text-lg-20.active 30m
            button.btn.btn_w-content.btn_h-37.btn_h-sm-44.btn_h-lg-50.btn_dark.text-11.text-sm-16.text-lg-20 4h
            button.btn.btn_w-content.btn_h-37.btn_h-sm-44.btn_h-lg-50.btn_dark.text-11.text-sm-16.text-lg-20 1d
    .chart-timeline
        .timeline
            .date
            .date.text-11.text-sm-14 2022/7/25
            .date.text-11.text-sm-14 2022/7/26
            .date.text-11.text-sm-14 2022/7/27
            .date.text-11.text-sm-14 2022/7/28
            .date.text-11.text-sm-14 2022/7/29
            .date.text-11.text-sm-14 2022/7/30
            .date.text-11.text-sm-14 2022/8/1
            .date.text-11.text-sm-14 2022/8/2
            .date.text-11.text-sm-14 2022/8/3
            .date.text-11.text-sm-14 2022/8/4
            .date.text-11.text-sm-14 2022/8/5
            .date
    .popup-close