.popup.popup-auth(data-type="signup")
    h2.popup-caption
        |Create an&#32;
        span.text-orange Account
    form.popup-form
        .form-block
            label.text-5(for="email") Email Address
            input.inp(type="email" name="email" id="email" placeholder="deniszak54321@gmail.com")
        .form-block
            label.text-5(for="pwd") Password
            input.inp(type="password" name="password" id="pwd" placeholder="***********************")
        .form-block
            label.text-5(for="pwd2") Confirm Password
            input.inp(type="password" name="password-confirm" id="pwd2" placeholder="***********************")
        .form-capcha
            a.upd(href="")
            .capcha
            span.text-orange.text-bold =
            input.inp(type="text" name="capcha" placeholder="Result")
        button.btn.text-5(type="submit") Register
    .popup-footer
        p.text-6 Have an Account?
        a.btn.btn-dark.text-6(href="" data-action="signin") Sign in
    .popup-close