.popup.popup-auth(data-type="signin")
    h2.popup-caption
        |Welcome
        span.text-orange !
    form.popup-form
        .form-block
            label.text-5(for="email") Email Address
            input.inp(type="email" name="email" id="email" placeholder="Enter your email address")
        .form-block
            label.text-5(for="pwd") Password
            input.inp(type="password" name="password" id="pwd" placeholder="Enter your password")
        .form-capcha
            a.upd(href="")
            .capcha
            span.text-orange.text-bold =
            input.inp(type="text" name="capcha" placeholder="Result")
        button.btn.text-5(type="submit") Log in
    a.popup-link(href="" data-action="change-pwd") Forgot your password?
    .popup-footer
        p.text-6 Don’t have an Account?
        a.btn.btn-dark.text-6(href="" data-action="signup") Sign up
    .popup-close